.do {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.do-pet{
    background-image: url('./asset/patas.png');
}
.do-home{
    background-image: url('./asset/casa.png');
}
.do-person{
    background-image: url('./asset/do-utilizador.png');
}