.do {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.do-pet{
    background-image: url('./asset/patas.png');
}
.do-home{
    background-image: url('./asset/casa.png');
}
.do-person{
    background-image: url('./asset/do-utilizador.png');
}
.do-timeline{
    background-image: url('./asset/timeline.png');
}
.do-bag{
    background-image: url('./asset/bag.png');
}

.do-consulta{
    background-image: url('./asset/estetoscopio.png');
}
.do-cirurgia{
    background-image: url('./asset/coracao.png');
}
.do-vacina{
    background-image: url('./asset/seringa.png');
}
.do-estetica{
    background-image: url('./asset/tesoura.png');
}
.do-creche{
    background-image: url('./asset/banheira.png');
}
.do-exame{
    background-image: url('./asset/microscopio.png');
}
.do-hospedagem{
    background-image: url('./asset/hotel.png');
}
.do-internamento{
    background-image: url('./asset/internamento.png');
}