<div class="div-promotions">
    <div class="card-promotion">
        <div class="card-promotion-text">
            Ração Gato R$ 5,00
        </div>        
    </div>
    <div class="card-promotion">
        <div class="card-promotion-text">
            COLAR ELIZABETANO CONFORT Nº 2 R$ 33,00
        </div>
    </div>
    <div class="card-promotion">
        <div class="card-promotion-text">
            Ração Gato R$ 5,00
        </div>
    </div>
    <div class="card-promotion">
        <div class="card-promotion-text">
            Ração Gato R$ 5,00
        </div>
    </div>
</div>

