.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 10px;
}
.body {
  height: calc(100% - 60px);
}

.buttons {
  margin-right: 16px;
}

.logo{
color: #FF9E1B;
}
.logo2{
color: #0082BA;
}

:host::ng-deep {
  .p-sidebar-content{
    padding: 0px;
  }
}
  