.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: -3px 1px 11px -3px rgba(148,140,148,1);
-moz-box-shadow: -3px 1px 11px -3px rgba(148,140,148,1);
box-shadow: -3px 1px 11px -3px rgba(148,140,148,1);
}
.body {
  height: calc(100% - 60px);
  padding: 10px;
}

.buttons {
  margin-right: 16px;
}

.logo{
color: #FFC837;
}
.logo2{
color: #010a0e;
}

.footer{
  position: fixed;
  height: 60px;
  bottom: 0px;
  width: 100%;
  -webkit-box-shadow: 0px -2px 11px -4px rgba(148,140,148,1);
-moz-box-shadow: 0px -2px 11px -4px rgba(148,140,148,1);
box-shadow: 0px -2px 11px -4px rgba(148,140,148,1);
}

.btn-footer{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

:host::ng-deep {
  .p-sidebar-content{
    padding: 0px;
    overflow-x: hidden;
  }
  .p-dropdown{
    width: 100%;
}
}

  