<div class="header">
  <div (click)="onOpenModal()">
      <h2><span class="logo">Data</span><span class="logo2" >On - Clientes</span></h2>
  </div>
  <div class="buttons grid">
      <div></div>
  </div>
</div>
<div class="body">
  <router-outlet></router-outlet>
</div>
<p-sidebar [showCloseIcon]="false" [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    Ola
  </ng-template>
  <ng-template pTemplate="body">
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <p-dropdown class="w-full" [options]="employees"  [(ngModel)]="selectdEmployee" optionLabel="name" placeholder="Selecione a empresa" />
      </div>
    </div>
    <app-sidebar-menu-itens [menuItems]="items"></app-sidebar-menu-itens>
  </ng-template>
  <ng-template pTemplate="footer">
      <ul>
        <li>
          <a  class="p-ripple"></a>
        </li>
      </ul>
  </ng-template>
</p-sidebar>
  
  