.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
/*     background: #FF8008;
    background: -webkit-linear-gradient(to top, #FFC837, #FF8008);
    background: linear-gradient(to top, #FFC837, #FF8008); */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .login{
    width: 100%;
    height: 70%;
    padding: 5px;
  }

  .form-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .login-options{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .sign{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .login-form{
    width: 100%;
    height: 70%;
    background-color: rgba($color: #ebe5e5, $alpha: 0.1);
    padding: 5px;
  }

  .text{
    font-size: 14px;
  }

  .welcome{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :host::ng-deep {
    .p-inputtext{
      background-color: rgba($color: #e9e6e6, $alpha: 0.1);
      border: none;
    }
    .p-button{
      color: rgb(20, 13, 13);
    }
  }

  .text-60{
    font-size: 60px;
  }

  .text-30{
    font-size: 30px;
  }

  .btn-tx{
    text-align: center;
    width: 100%;
  }

  .outline{
    margin-top: 10px;
  }


  @media (max-width: 600px)
  {
    .form-login{
      width: 100%;
    }
    .login-form{
      width: 100%;
      background-color: transparent;
    }
    .welcome{
      display: none;
    }
    .login{
      border-radius: 150px 0 150px 0px;
      background-color: #FFC837;
    }
  }
  input{
    margin-bottom: 10px;
  }