<div class="dashboard">
    <div class="dicas">
        <div class="dica-text">
            Quer dicas de cuidados animais, clique e acesse nosso blog
        </div>
        <div class="dica-foto">
        </div>
    </div>
    <div class="pets">
        <div class="pets-title">
            Meus pets
        </div>
        <app-dash-pets></app-dash-pets>
    </div>
    <div class="appointments">
        <div class="appointments-title">
            Resumo dos agendamentos do dia
        </div>
        <app-summary-appointments></app-summary-appointments>
    </div>
    <div class="promotions">
        <div class="promotions-title">
            <i class="do do-bag" ></i>
            Promoções
        </div>
        <app-promotions></app-promotions>
    </div>
    <div class="companies">
        PetShos e clinicas proximas
    </div>
</div>