.dashboard{
    overflow: auto;
    height: 100vh;
}

.dicas{
    height: 150px;
    background: #FF8008;
    background: -webkit-linear-gradient(to top, #FFC837, #FF8008);
    background: linear-gradient(to top, #FFC837, #FF8008);
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .dica-text{
        display: flex;
        align-items: center;
        width: 60%;
        color: white;
    }
    .dica-foto{
        background-image: url("../../../assets/images/22631-nobg.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 40%;
    }
}
.pets{
    margin-top: 30px;
    border-radius: 15px;
    padding: 10px;
}
.promotions{
    border-radius: 15px;
    padding: 10px;
    .prromotions-title{
        margin-bottom: 10px;
    }
}
.appointments {
    padding: 10px;
    .appointments-title{
        margin-bottom: 10px;
    }
}
.companies{
    margin-top: 30px;

}